.navigation {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    transition: all 0.2s ease-out;

    &.scrolled {
        background: rgba(0, 0, 0, 0.611);
    }

    .banner {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0 6px 0;
        background: #040AA3;
        
        a {
            font-weight: 800;
            text-decoration: none;
        }


    }

    .nav {
        width: 80%;
        display: flex;
        align-items: center;
        margin-top: 30px;
        cursor: pointer;
        transition: opacity 0.1s ease-in-out, visibility 0s 0.1s;

        &.navHidden {
            opacity: 0;
            visibility: hidden;
        }

        .logo {
            display: flex;
            flex-direction: column;
            text-decoration: none;

            img {
                width: 60px;
                height: 60px;
            }
            p {
                font-size: 12px;
                font-weight: 900;
                margin: 5px 0px 0px 8px;
            }
        }
    
        .links {
            display: flex;
            gap: 56px;
            margin: 0 auto;

            a {
                position: relative;
                font-size: 14px;
                font-weight: 400;
                padding: 2px 8px 0px 8px;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    left: 8px;
                    bottom: -1px;
                    width: calc(100% + 16px);
                    display: block;
                    height: 2px;
                    background: linear-gradient(to right, #010afd, transparent);
                    scale: 0;
                    transition: all 0.5s ease;
                    transform-origin: left;
                }

                &:hover {
                    &::after {
                        scale: 1;
                    }
                }
            }
            .dropdownContainer{
                position: relative;
                height: 100%;

                .dropdownContent{
                    display: none;
                    position: absolute;
                    background-color: linear-gradient(to right, #010afd, transparent);
                    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
                    z-index: 1;
                    min-width: 200px;

                    li{
                        padding: 18px 16px 12px 12px;
                        text-decoration: none;
                        display: block;

                        &:hover{
                            border-radius: 8px;
                            background: rgba(144, 181, 182, 0.411);

                            &::after {
                                content: " ➤"; // Unicode right arrow character
                                position: absolute;
                                top: 50%;
                                right: 8px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

                &:hover .dropdownContent{
                    display: block;
                }
                .solutionsContent{
                    display: grid;
                    top: 0;
                    grid-template-columns: repeat(3, 1fr);
                    // column-gap: 20px; 
                    position: absolute;
                    left: 100%; // Position to the right of the dropdownContent
                    width: 100%; // Occupy full width
                    // padding: 12px; 
                    background-color: linear-gradient(to right, #010afd, transparent);
                    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
                    z-index: 1;
                    min-width: 250px;

                    li{
                        padding: 18px 16px 12px 12px;
                        text-decoration: none;
                        display: block;

                        &:hover{
                            border-radius: 8px;
                            background: rgba(144, 181, 182, 0.411);

                            &::after {
                                content: " ➤"; // Unicode right arrow character
                                position: absolute;
                                top: 50%;
                                right: 8px;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    &:hover .solutionsContent{
                        display: grid;
                    }
               }
            }            
        }
    
        .contact {
            padding: 10px 20px;
            border-radius: 12px;
            background: #181818;
            border: 1px solid #3237c0;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease-out;

            &:hover {                
                background: linear-gradient(90deg, #050CAF 0%, #070A5D 100%);
                transform: scale(1.1);
            }
        }
    }
}
